html {
    background-color: papayawhip;
}

h1 {
    color: black;
    font-weight: 500px;
    font-size: 30px;
    font-family: bookman;
}
 div {
     font-family: courier New;
     font-size: 12px;
     border: 1px solid black;
     padding: 25px 20px 400px 20px;
     background-color: lightblue;
 }